# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/

# Database files
*.db

# IDE and editor settings
.vscode/
.idea/
*.swp
*.swo

# package data
*.egg-info/
